<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudentWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudInfoController</display-name>
    <servlet-name>StudInfoController</servlet-name>
    <servlet-class>com.school.studentinfo.StudInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudInfoController</servlet-name>
    <url-pattern>/StudInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.school.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>com.school.CRUD.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserId</display-name>
    <servlet-name>GetUserId</servlet-name>
    <servlet-class>com.school.login.GetUserId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserId</servlet-name>
    <url-pattern>/GetUserId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserController</display-name>
    <servlet-name>ViewUserController</servlet-name>
    <servlet-class>com.school.CRUD.ViewUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserController</servlet-name>
    <url-pattern>/ViewUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.school.CRUD.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.school.CRUD.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsController</display-name>
    <servlet-name>UserDetailsController</servlet-name>
    <servlet-class>com.school.CRUD.UserDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsController</servlet-name>
    <url-pattern>/UserDetailsController</url-pattern>
  </servlet-mapping>
</web-app>